@for $i from 1 through 100 {
  .u-mt#{$i} {
    margin-top: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .u-mr#{$i} {
    margin-right: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .u-mb#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .u-ml#{$i} {
    margin-left: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .u-mt#{$i} {
    margin-top: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .u-mr#{$i} {
    margin-right: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .u-mb#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .u-ml#{$i} {
    margin-left: #{$i}px;
  }
}
